table {
    border-spacing: 0;
    font-weight: bold;
}

th, td {
    border: 1px solid gray;
    width: 100px;
    height: 100px;
}

th {
    height: 64px;
}

.bg-gray {
    background-color: lightgray;
}

.bg-red {
    background-color: red;
}

.bg-beige {
    background-color: rgb(255, 255, 145);
}

.bg-yellow {
    background-color: yellow;
}

.top-right {
    text-align: right;
    vertical-align: top;
}

.bottom-center {
    text-align: center;
    vertical-align: bottom;
}

.center {
    text-align: center;
}

.middle>div {
    height: 200px;
    overflow: scroll;
    text-align: justify;
}