@import url('./variables.css');

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--color-third);
    background-color: var(--color-main);
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: var(--color-main);
    border-color: var(--color-secondary);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: var(--color-secondary);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-control-label:not(.switch-label)::before {
    border: 1px solid var(--color-main);
}

.custom-control-label {
    cursor: pointer;
}

.custom-switch .custom-control-label::before {
    transform: scale(1.05);
}

.form-group {
    margin-bottom: 16px;
}

.default-input {
    border-radius: 4px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    border: unset;
    letter-spacing: 0;
    padding: 8px 14px;
    height: auto;
    border: 1px solid var(--color-main);
    transition: 0.15s;
    font-weight: 500;
}

.default-input:focus {
    border: 1px solid var(--color-secondary);
    box-shadow: 0 0 6px 0 var(--color-gray);
}

.custom-checkbox .custom-control-label::after,
.custom-checkbox .custom-control-label::before {
    top: 0;
    border-radius: unset;
}

.custom-radio .custom-control-label::after,
.custom-radio .custom-control-label::before {
    top: unset;
}