@import url('./variables.css');

#product-categories::-webkit-scrollbar {
    width: 10px;
    padding: 2px;
}

#product-categories::-webkit-scrollbar-track {
    background-color: var(--color-gray);
}

#product-categories::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}

#product-categories::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-main);
}

.btn-category {
    background: transparent;
    font-size: 24px;
    font-weight: 700;
    padding: 12px 24px;
    margin: 0 10px;
    background-color: var(--color-third);
    color: var(--color-black);
    line-height: 1.3;
    border-radius: 16px;
    border: none;
    box-shadow: 0 2px 6px var(--color-gray);
}

.btn-category:hover {
    filter: brightness(90%);
}

.btn-category.active {
    color: var(--color-white);
}

.product-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-default);
    margin-bottom: 1.5em;
}

.product-desc-bg {
    background: var(--color-main);
    display: flex;
    flex-direction: column;
    border-top: 4px solid var(--color-third);
}

.product-desc {
    color: var(--color-white);
}

.product-name-container {
    position: relative;
    width: 90%;
    background-color: var(--color-third);
    font-weight: bold;
    line-height: 1.2;
    margin-top: -7%;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    z-index: 2;
    border-radius: 0 6px 6px 0;
}

.product-name-container h3 {
    color: var(--color-white);
    margin: 0;
}

.product-img-container {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.product-img {
    aspect-ratio: 4/3;
    object-fit: cover;
    height: 100%;
}

.price-box {
    margin-top: 24px;
    padding: 15px 10px 10px 15px;
    background: var(--color-secondary);
    border-top-left-radius: 20px;
}

.price-box span {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 800;
}