@import url('./variables.css');

section {
    scroll-margin-top: 60px;
    padding: 40px 0;
}

.section-title-box {
    text-align: center;
    padding-bottom: 30px;
}

.section-title-box h2 {
    margin-bottom: 0.75em;
}

#hero {
    position: relative;
    padding: 0;
    overflow: hidden;
}

#hero-min {
    background: var(--color-third);
}

#video {
    background: var(--color-main);
    color: var(--color-white);
    overflow: hidden;
}

#contact {
    background: var(--color-third);
    color: var(--color-white);
}

.hero-container {
    position: relative;
    height: 100%;
    height: 450px;
}

.hero-img-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-img-box {
    width: 100%;
    height: 100%;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    filter: brightness(0.4);
    pointer-events: none;
    user-select: none;
}

.hero-text-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 600px;
    text-align: left;
    color: var(--color-white);
}

.ext-head-text {
    position: relative;
    background-color: var(--color-white);
    padding: 16px 10px;
    margin: 0 auto;
    margin-top: -50px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 0px 20px -12px var(--color-transparent-dark);
    border-bottom: 4px solid var(--color-main);
    border-radius: 6px 6px 12px 12px;
}

.box-lr-text {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    z-index: 1;
    background: var(--color-gray);
    box-shadow: 2px 4px 12px -2px var(--color-transparent-dark);
    border-radius: var(--border-radius-default);
}

.box-lr-text h3 {
    color: var(--color-third);
}

.service-img-container {
    height: 100%;
}

.service-img-container img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.6;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-default);
}

.contact-img {
    width: 100%;
    aspect-ratio: 1.75;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-default);
}

.contact-link {
    color: var(--color-gray);
}

.contact-link:hover {
    color: var(--color-main);
}

#weekly-menu .container {
    overflow: auto;
}

.weekly-menu-table {
    overflow: auto;
    width: 100%;
}

.weekly-menu-table th {
    text-align: center;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 24px 6px;
}

.weekly-menu-table td {
    border: 1px solid var(--color-gray);
    background-color: var(--color-light-gray);
    padding: 24px 6px;
}

.weekly-menu-table b {
    color: var(--color-third);
    font-size: 18px;
}

.weekly-menu-table tr.rs-top>td {
    border-bottom: none;
}

.weekly-menu-table tr.rs-bottom>td {
    border-top: none;
}

.weekly-menu-table .main-dish {
    max-width: 160px;
}

#reservation .container {
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hero-container {
        height: 550px;
    }
}

@media (min-width: 992px) {
    section {
        scroll-margin-top: 70px;
        padding: 60px 0;
    }

    .hero-container {
        height: 650px;
    }
}