@import url('./variables.css');

@font-face {
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat300.woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat400.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat500.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat600.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/assets/fonts/Montserrat700.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    background: var(--color-white);
    font-family: var(--font-family-name), sans-serif;
    color: var(--color-black);
    font-size: var(--font-size-default);
    font-weight: var(--weight-regular);
    line-height: var(--line-height-default);
	margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 1.3;
}

h2 {
    font-size: 30px;
    font-weight: 900;
}

h3 {
	font-size: 24px;
    font-weight: 900;
}

a {
	color: var(--color-black);
	text-decoration: none;
	transition: color 0.15s ease-in-out;
}

.btn-default {
	display: inline-block;
    white-space: nowrap;
    line-height: 1;
    font-weight: var(--weight-medium);
    font-size: var(--font-size-default);
    transition: background-color 0.15s ease-in-out, opacity 0.15s linear, color 0.15s linear, box-shadow 0.15s linear;
    padding: var(--padding-btn-default);
    border-radius: var(--border-radius-default);
}

.primary-btn {
	color: var(--color-white);
}

.primary-btn.btn-main-color {
	background: var(--color-main);
}

.primary-btn.btn-secondary-color {
	background: var(--color-secondary);
}

.primary-btn.btn-third-color {
	background: var(--color-third);
}

.secondary-btn {
	background: var(--color-transparent-dark);
	color: var(--color-white);
}

.secondary-btn.btn-main-color {
	box-shadow: inset 0 0 0 2px var(--color-main);
}

.secondary-btn.btn-secondary-color {
	box-shadow: inset 0 0 0 2px var(--color-secondary);
}

.secondary-btn.btn-third-color {
	box-shadow: inset 0 0 0 2px var(--color-third);
}

.buttons-2 .primary-btn {
    margin-right: 8px;
}

.primary-btn:hover,
.secondary-btn:hover {
	filter: brightness(0.95);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.overflow-hidden {
	overflow: hidden;
}

.border-none {
	border-left: none!important;
	border-top: none!important;
	border-right: none!important;
	border-bottom: none!important;
}

.hide {
    display: none!important;
}

@media (min-width: 992px) {
	h1 {
		font-size: 48px;
	}
    
	h2 {
		font-size: 38px;
	}

	h3 {
		font-size: 24px;
	}
}