section {
    position: relative;
}

.bg-color {
    background-color: rgb(84, 6, 104);
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    height: 100%;
    z-index: -1;
}

.text-highlighted {
    text-align: center;
    font-size: 16px;
    color: yellow;
}

.border-bottom-double {
    border-bottom-style: double;
}

.mw-500 {
    text-align: justify;
    max-width: 500px;
}